# VS Code local workspace files (machine/user specific)
.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/launch.json
.vscode/tasks.json

# 忽略Lab3_1 可执行文件
myshell
cmd1
cmd2
cmd3

# 忽略Lab3_2 可执行文件
mypipe
mysize

# 忽略Lab5 可执行文件
myfs
fsfile